:root {

  /* colors */

  --clr-primary-400: hsl(221, 100%, 68%);
  --clr-primary-300: hsl(221, 40%, 60%);
  --clr-primary-200: hsl(221, 100%, 84%);

  /* for dark mode */
  --clr-accent-800: hsl(221, 49%, 8%);
  /* ----------------- */

  --clr-accent-900: hsl(222, 47%, 11%);


  --clr-neutral-400: hsl(215, 19%, 35%);
  --clr-neutral-300: hsl(220, 24%, 88%);


  /* font family */

  --ff-primary: "Inter", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  /* font weight */

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  /* font size */


  --fw-500: 0.25rem;
  /* 4px */
  --fw-550: 0.5rem;
  /* 8px */
  --fs-600: 1rem;
  /* 16px */
  --fs-650: 1.5rem;
  /* 24px */
  --fs-700: 2rem;
  /* 32px */
  --fs-800: 3rem;
  /* 48px */


  /* Size */

  --size-500: 0.25rem;
  /* 4px */
  --size-550: 0.5rem;
  /* 8px */
  --size-600: 1rem;
  /* 16px */
  --size-650: 1.5rem;
  /* 24px */
  --size-700: 2rem;
  /* 32px */
  --size-750: 2.5rem;
  /* 40px */
  --size-800: 1.875rem;
  /* 30px */
}

@media (min-width: 50em) {
  :root {
    --fs-700: 3rem;
    --fs-600: 2rem;

  }
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--ff-primary);
}

/* https://piccalil.li/blog/a-more-modern-css-reset/ */


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better containerrol in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}



/* Utility classes */

.text-primary-400 {
  color: var(--clr-primary-400);
}

.text-accent-900 {
  color: var(--clr-accent-900);
}

.text-neutral-400 {
  color: var(--clr-neutral-900);
}

.fw-bold {
  font-weight: var(--font-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}


.fs-500 {
  font-size: var(--fs-500);
}

.fs-550 {
  font-size: var(--fs-550);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-650 {
  font-size: var(--fs-650);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

/* General styling */